<!DOCTYPE html>
<html>
<head>
	<title>Chapters of {{.Book}} ({{.Translation}}) - Seeketh.org</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="static/css/style-3.css" />
	<!--[if lte IE 8]>
	    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
	    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
	<!--<![endif]-->
</head>
<body>
    <div id="container">
    	{{template "header" .}}
    	<div id="body">
    	    <div class="container margin">
	            <div class="pure-g content">
					<div class="pure-u-1 all-caps">
						<h1>Book of {{.Book}}</h1>
					</div>
					{{range .Result}}
					<div class="pure-u-md-4-24 pure-u-8-24 sep-5">
						<a href="{{.Url}}">Chapter {{.Chapter}}</a>
					</div>
					{{end}}
				</div>
    	    </div>
    	</div>
		{{template "footer" .}}
    </div>
</body>
</html>
